{% extends 'commerce-widgets/layout' %}

{% block widget %}

   <table class="data fullwidth collapsible">
      <thead>
         <tr>
            <th>Product</th>
            <th>SKU</th>
            <th>Price</th>
         </tr>
      </thead>
      <tbody>
         {% for product in craft.products().limit(limit).all() %}
            <tr>
               <td>
                  <div class="element hasstatus">
                     <span class="status {{ product.status }}"></span>
                     <div class="label">
                        <span class="title">
                           <a href="{{ product.cpEditUrl }}">
                              {{ product.title }}
                           </a>
                        </span>
                     </div>
                  </div>
               </td>
               <td>
                  <span class="sku">{{ product.defaultSku }}</span>
               </td>
               <td>{{ product.defaultPrice|currency(commerce.currency) }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>

   <a href="/{{ cpTrigger }}/commerce/products" class="btn">View All Products</a>

{% endblock %}
