{% extends 'commerce-widgets/layout' %}

{% block widget %}

   <table class="data fullwidth collapsible">
      <thead>
         <tr>
            <th>Time</th>
            <th>Revenue</th>
            <th>Orders</th>
         </tr>
      </thead>
      <tbody>
         {% for row in revenueOrders %}
            <tr>
               <td>
                  {{ timeFrames[loop.index0]['label'] }}
                  <span class="light small">
                     {{ timeFrames[loop.index0]['date'] }}
                  </span>
               </td>
               <td>
                  {{ row.totalRevenue|currency(commerce.currency) }}
                  {% if not loop.last %}
                     {# <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span> #}
                  {% endif %}
               </td>
               <td>
                  {{ row.totalOrders|number_format() }}
                  {% if not loop.last %}
                     {# <span class="compare-arrow -less" title="+£4.00 compared to last month">&#9660;</span> #}
                  {% endif %}
               </td>
            </tr>
         {% endfor %}
      </tbody>
   </table>

   <a href="/{{ cpTrigger }}/commerce/orders" class="btn">View All Orders</a>

{% endblock %}
