{% extends 'layout' %}

{% block widget %}

{% set rankClasses = ['-first', '-second', '-third'] %}

<div class="commerce-widgets">

   <table class="data fullwidth collapsible">
      <thead>
         <tr>
            <th></th>
            <th>Email Address</th>
            <th>Total Revenue</th>
            <th>Total Orders</th>
         </tr>
      </thead>
      <tbody>
         {% for customer in customers %}
            {% set userId = craft.commercewidgets.userIdByCustomerId(customer.customerId).userId %}
            <tr>
               <td><span class="rank {{ rankClasses[loop.index0] is defined ? rankClasses[loop.index0] }}">{{ loop.index}}</span></td>
               <td>
                  {% if userId|length %}
                     <a href="/{{ cpTrigger }}/users/{{ userId }}">
                        {{ customer.email }}
                     </a>
                  {% else %}
                     {{ customer.email }}
                  {% endif %}
               </td>
               <td>{{ customer.totalRevenue|currency(commerce.currency) }}</td>
               <td>{{ customer.totalOrders }}</td>
            </tr>
         {% else %}
         {% endfor %}
      </tbody>
   </table>

</div>

{% endblock %}
