{% extends 'commerce-widgets/layout' %}

{% block widget %}

   {% set rankClasses = ['-first', '-second', '-third'] %}

   <table class="data fullwidth collapsible">
      <thead>
         <tr>
            <th colspan="2">Email Address</th>
            <th>Total Revenue</th>
            <th>Total Orders</th>
         </tr>
      </thead>
      <tbody>
         {% for customer in customers %}
            {% set userId = craft.commercewidgets.userIdByCustomerId(customer.customerId).userId %}
            <tr{% if loop.first %} class="rank-background -first"{% endif %}>
               <td class="rank-column">
                  <span class="rank {{ rankClasses[loop.index0] is defined ? rankClasses[loop.index0] }}">
                     {% if loop.first %}
                        <i class="fas fa-crown"></i>
                     {% else %}
                        {{ loop.index}}
                     {% endif %}
                  </span>
               </td>
               <td>
                  {% if userId|length %}
                     <a href="/{{ cpTrigger }}/users/{{ userId }}">
                        {{ customer.email }}
                     </a>
                  {% else %}
                     {{ customer.email }}
                  {% endif %}
               </td>
               <td>{{ customer.totalRevenue|currency(commerce.currency) }}</td>
               <td>{{ customer.totalOrders|number_format() }}</td>
            </tr>
         {% else %}
            <tr>
               <td colspan="4">
                  No customers found.
               </td>
            </tr>
         {% endfor %}
      </tbody>
   </table>

{% endblock %}
